runtime/target/
toolchain/sysroot/
toolchain/llvm-project/
toolchain/*/obj/
*.wbx
*.wbx.zst
runtime-c/**/*.o
runtime-c/test/test_memblock
runtime-c/libminiboxhost.so
toolchain/emulibc/obj/
tests/conformance/guest.wbx
tests/conformance/run_guest
